body {
    background: url("../assets/Main/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}
.Main_Buttons {
    display: flex;
    justify-content: space-between;
    position: relative;
    text-transform: uppercase;
    margin-left: 4%;
    margin-top: 1%;


}
.nav_Main {
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 15px 30px;
  overflow: hidden;
  border: 4px solid;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 2px;
  color: #ff00d5;
  transition: color .3s, background .5s;
}
.nav_Main:hover {
  animation: stripes .75s infinite linear;
  background: #3dd7fb 25%, #FF50E5 50%, #fed111 50%, #fed111 75%, #FF50E5 75%, #FF50E5;
  background-size: 10px 10px;
  color: #3dd7fb;
}

@keyframes stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 0;
  }
}
.Extra_Buttons {
    position: absolute;
    left: 5;
    bottom: 30px;
    width: 100px;
    height: 370px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
}
.nav_extra_cart {
    top: 0;
    right: 0;
    border-radius: 7px;
    box-shadow: 0 0 6px 3px #FF50E5;
    transition: 0.7s;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 5px;
    color: #3dd7fb;
}
.nav_extra_cart span {
    display: block;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    font-size: 1vw;
    font-weight: 1vw;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1px;
    line-height: 1;
    transition: .7s;
}
.nav_extra_cart::after {
    content: url('../assets/Icons/cart.png');
    speak: none;
    font-style: normal;
    font-weight: 1vw;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1vw;
}
.nav_extra_cart:hover {
    border-radius: 7px;
    box-shadow: 0 0 6px 3px #3dd7fb;
    transition: 0.7s;
    justify-content: center;
}
.nav_extra_cart:hover span {
    max-width: 200px;
    opacity: 1;
    margin-right: 6px;
    color: #3dd7fb;
}
.nav_extra_delivery {
    margin-top: 10px;
    top: 0;
    right: 0;
    border-radius: 7px;
    box-shadow: 0 0 6px 3px #FF50E5;
    transition: 0.7s;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 5px;
    color: #3dd7fb;
}
.nav_extra_delivery span {
    display: block;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    font-size: 1vw;
    font-weight: 1vw;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1px;
    line-height: 1;
    transition: .7s ease;
}
.nav_extra_delivery::after {
    content: url('../assets/Icons/ship.png');
    speak: none;
    font-style: normal;
    font-weight: 1vw;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1vw;
}
.nav_extra_delivery:hover {
    border-radius: 7px;
    box-shadow: 0 0 6px 3px #3dd7fb;
    transition: 0.7s;
    justify-content: center;
}
.nav_extra_delivery:hover span {
    max-width: 200px;
    opacity: 1;
    margin-right: 6px;
    color: #3dd7fb;
}
.nav_extra_reviews {
    margin-top: 10px;
    top: 0;
    right: 0;
    border-radius: 7px;
    box-shadow: 0 0 6px 3px #FF50E5;
    transition: 0.7s;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 5px;
    color: #3dd7fb;
}
.nav_extra_reviews span {
    display: block;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    font-size: 1vw;
    font-weight: 1vw;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1px;
    line-height: 1;
    transition: .7s ease;
}
.nav_extra_reviews::after {
    content: url('../assets/Icons/review.png');
    speak: none;
    font-style: normal;
    font-weight: 1vw;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1vw;
}
.nav_extra_reviews:hover {
    border-radius: 7px;
    box-shadow: 0 0 6px 3px #3dd7fb;
    transition: 0.7s;
    justify-content: center;
}
.nav_extra_reviews:hover span {
    max-width: 200px;
    opacity: 1;
    margin-right: 6px;
    color: #3dd7fb;
}
.nav_extra_faq {
    margin-top: 10px;
    top: 0;
    right: 0;
    border-radius: 7px;
    box-shadow: 0 0 6px 3px #FF50E5;
    transition: 0.7s;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 5px;
    color: #3dd7fb;
}
.nav_extra_faq span {
    display: block;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    font-size: 1vw;
    font-weight: 1vw;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1px;
    line-height: 1;
    transition: .7s ease;
}
.nav_extra_faq::after {
    content: url('../assets/Icons/faq.png');
    speak: none;
    font-style: normal;
    font-weight: 1vw;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1vw;
}
.nav_extra_faq:hover {
    border-radius: 7px;
    box-shadow: 0 0 6px 3px #3dd7fb;
    transition: 0.7s;
    justify-content: center;
}
.nav_extra_faq:hover span {
    max-width: 200px;
    opacity: 1;
    margin-right: 6px;
    color: #3dd7fb;
}.nav_extra_tg {
    margin-top: 10px;
    top: 0;
    right: 0;
    border-radius: 7px;
    box-shadow: 0 0 6px 3px #FF50E5;
    transition: 0.7s;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 5px;
    color: #3dd7fb;
}
.nav_extra_tg span {
    display: block;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    font-size: 1vw;
    font-weight: 1vw;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1px;
    line-height: 1;
    transition: .7s ease;
}
.nav_extra_tg::after {
    content: url('../assets/Icons/tg.png');
    speak: none;
    font-style: normal;
    font-weight: 1vw;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1vw;
}
.nav_extra_tg:hover {
    border-radius: 7px;
    box-shadow: 0 0 6px 3px #3dd7fb;
    transition: 0.7s;
    justify-content: center;
}
.nav_extra_tg:hover span {
    max-width: 200px;
    opacity: 1;
    margin-right: 6px;
    color: #3dd7fb;
}
.contact {
    width: 50%;
    height: 250px;
    position: absolute;
    top: 40%;
    left: 20%;
    background-color: rgba( 0, 0, 0, 50%);
    border-radius: 20px;
}
.info_blog {
    color: #3dd7fb;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-decoration-color: wheat;
    font-size: 2vw;
    text-align: center;
}
.inf_a {
    text-decoration: none;
    color: #FF50E5;
    text-decoration: underline;
}
